{
  "branches": [
    "master"
  ],
  "npmPublish": false,
  "verifyConditions": [
    "@semantic-release/github",
    "@semantic-release/npm"
  ],
  "analyzeCommits": {
    "preset": "angular"
  },
  "generateNotes": {
    "preset": "angular"
  },
  "prepare": [
    {
      "path": "@semantic-release/changelog",
      "changelogFile": "CHANGELOG.md"
    },
    {
      "path": "@semantic-release/npm",
      "pkgRoot": "backend"
    },
    {
      "path": "@semantic-release/npm",
      "pkgRoot": "frontend"
    }
  ],
  "publish": [
    {
      "path": "@semantic-release/github",
      "assets": [
        {
          "path": "dist/**/*.js",
          "label": "JavaScript distribution"
        }
      ]
    },
    {
      "path": "@semantic-release/npm",
      "pkgRoot": "backend"
    },
    {
      "path": "@semantic-release/npm",
      "pkgRoot": "frontend"
    }
  ],
  "success": [
    "@semantic-release/github"
  ],
  "fail": [
    "@semantic-release/github"
  ]
}
